# NBA Stats since 2003

In [2]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np

In [3]:
df_Games = pd.read_csv('games.csv')
df_Games.GAME_DATE_EST = pd.to_datetime(df_Games.GAME_DATE_EST)

df_GamesDetails = pd.read_csv('games_details.csv')

df_rakings = pd.read_csv('ranking.csv')
df_rakings.STANDINGSDATE = pd.to_datetime(df_rakings.STANDINGSDATE)

C:\Users\dajeu\AppData\Local\Temp\ipykernel_20380\740451102.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_GamesDetails = pd.read_csv('games_details.csv')

### Let's find the top 3 scores by categories and its corresponding player

In [4]:
from pandas import DataFrame


def GetTop5(Category, DataFrame, Columns):
    """
    Param:  Category -> str
            DataFrame -> Pandas DataFrame
            Columns -> str or list str
    Return: Pandas.DataFrame object
    """
#     # Group Max Points by ['PLAYER_NAME','TEAM_ABBREVIATION', 'TEAM_CITY']
#     df_MaxByCategory = DataFrame.groupby(Columns, axis=0)[Category].max()
#     df_MaxByCategory = df_MaxByCategory.to_frame()

#     # Top scores in a single game (TOP 3)
#     TopValues = df_MaxByCategory.sort_values(by=[Category],ascending=False)[Category].unique()
#     TopValues = TopValues[:3]

#     # Sort Descending and replace NaN with 0
#     df_MaxByCategory = df_MaxByCategory.sort_values(by=[Category],ascending=False).fillna(0)

#     # Filter the df df_MaxByCategory to get Players and corresponding team
#     df_Top5Players = df_MaxByCategory[df_MaxByCategory[Category] >= TopValues.min()]4


    if type(Columns) == type([]):
        Columns = Columns + [Category]
    else:
        Columns = [Columns, Category]

    TopValues = DataFrame.sort_values(by=[Category],ascending=False)[Category].unique()[:3]
    TopValues = TopValues[:3]

    return DataFrame[Columns][DataFrame[Category] >= TopValues.min()].sort_values(by=[Category],ascending=False)

In [5]:
# Get top players on Points
Top5_MostPointsPerGames = GetTop5('PTS', df_GamesDetails, ['PLAYER_NAME','TEAM_ABBREVIATION', 'TEAM_CITY','GAME_ID'])

# Merge with games to get more data regarding the game itself
TopPoints_withDates = Top5_MostPointsPerGames.merge( df_Games, on='GAME_ID', how='left')

TopPoints_withDates[['PLAYER_NAME','TEAM_ABBREVIATION','TEAM_CITY','PTS','GAME_DATE_EST','GAME_STATUS_TEXT','SEASON']]

,PLAYER_NAME,TEAM_ABBREVIATION,TEAM_CITY,PTS,GAME_DATE_EST,GAME_STATUS_TEXT,SEASON
0,Kobe Bryant,LAL,Los Angeles,81.0,2006-01-22,Final,2005
1,Devin Booker,PHX,Phoenix,70.0,2017-03-24,Final,2016
2,Kobe Bryant,LAL,Los Angeles,65.0,2007-03-16,Final,2006

In [6]:
# Get top players on Assistance
Top5_AssistancePerGames = GetTop5('AST', df_GamesDetails, ['PLAYER_NAME','TEAM_ABBREVIATION', 'TEAM_CITY','GAME_ID'])

# Get more data regarding the game
TopAssistance_WithDates = Top5_AssistancePerGames.merge( df_Games, on='GAME_ID', how='left')
TopAssistance_WithDates[['PLAYER_NAME','TEAM_ABBREVIATION','TEAM_CITY','GAME_DATE_EST','AST','GAME_STATUS_TEXT','SEASON']]

,PLAYER_NAME,TEAM_ABBREVIATION,TEAM_CITY,GAME_DATE_EST,AST,GAME_STATUS_TEXT,SEASON
0,Rajon Rondo,NOP,New Orleans,2017-12-27,25.0,Final,2017
1,Russell Westbrook,WAS,Washington,2021-05-03,24.0,Final,2020
2,Ramon Sessions,MIL,Milwaukee,2008-04-14,24.0,Final,2007
3,Rajon Rondo,BOS,Boston,2010-10-29,24.0,Final,2010
4,Russell Westbrook,OKC,Oklahoma City,2019-01-10,24.0,Final,2018
5,Steve Nash,PHX,Phoenix,2007-04-29,23.0,Final,2006
6,Rajon Rondo,BOS,Boston,2011-01-05,23.0,Final,2010

In [7]:
print(f'{df_Games.SEASON.min()} is the earliest year in this data') # Earliest Year in the DF

2003 is the earliest year in this data